.fullWidth {
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: steelblue;
}

.textDiv {
    margin: 2em;
}

@media screen and (max-width: 767px) {
    .textDiv {
        font-size: smaller;
    }
}